
blockquote,
body,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
ol,
p,
pre,
td,
textarea,
th {
  margin: 0;
  padding: 0;
}
body,
p {
  font: 14px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    '\5B8B\4F53', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: @body-bg;
}
img {
  border: 0;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  line-height: normal;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}

small {
  font-size: 12px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

.support {
  margin-top: 20px;
  text-align: left;
}

.text-left {
  text-align: left;
}

.text-small {
  font-size: 12px;
}

.icon {
  height: 25px;
}

.common-bottom {
  padding: 30px;
  text-align: center;
}

.upload-icon {
  padding-top: 50px;

  span {
    font-size: 16px;
  }
}

/* 设置相关 */
.setting-content {
  text-align: left;
  overflow: auto;
  //display: inline-block;

  .el-input__inner {
    padding: 0;
    text-align: center;
  }

  .el-form-item {
    margin-bottom: 0;

    .el-form-item__label {
      line-height: 20px;
      padding-top: 10px;
    }
  }
}

.setting-content-with-tip {
  text-align: left;
  overflow: auto;

  .el-input__inner {
    padding: 0;
    text-align: center;
  }

  .el-form-item {
    margin-bottom: 15px;

    .el-form-item__error {
      padding-top: 0;
    }
  }
}

.setting-line {
  height: 36px;
  display: flex;
  align-items: center;
}

.warn {
  color: #E02020;

  .el-input__inner {
    border: 1px solid #E02020;
    background-color: @background-color-danger;
  }
  .hint {
    color: #E02020;
  }
}

.warn-view {
  background-color: @background-color-danger;
}

.great {
  font-size: 24px;
  color: #1d8fff;
  font-weight: bold;
  font-family: system-ui;
}

.input-great {
  padding: 5px;
  .el-input__inner {
    text-align: center;
    padding: 5px;
    font-size: 24px;
    color: #1d8fff;
    font-weight: bold;
    height: 46px;
  }
}

.input-medium {
  padding: 5px;
  .el-input__inner {
    text-align: left;
    padding: 0 6px;
    font-size: 16px;
    color: #1d8fff;
    font-weight: bold;
    height: 28px;
    background: rgba(29, 143, 255, 0.05);
    border: 1px solid #1d8fff;
  }
}

.edited {
  .el-input__inner {
    border: 1px solid green;
    background-color: #e7ffeb;
  }
  .hint {
    color: blue;
  }
}

.input-text-left {
  vertical-align: middle;

  .el-input__inner {
    text-align: left;
    padding: 0 10px;
  }
}

.input-date-left {
  .el-input__inner {
    text-align: left;
    padding: 0 30px;
  }
}

.input-text-mini {
  .el-input__inner {
    text-align: center;
    padding: 0 5px;
  }
}

.input-normal-width {
  .el-input__inner {
    width: 150px;
  }
}

.input-m {
  width: 70px;
  padding: 0;
  font-size: 20px;
  .el-input__inner {
    color: @color-blue;
    font-weight: bold;
  }
}

.input-m40 {
  width: 40px;
  padding: 0;
  font-size: 20px;
  .el-input__inner {
    color: @color-blue;
    font-weight: bold;
  }
}

.input-percent {
  width: 40px;
  padding: 0;
}

.input-price {
  width: 60px;
  padding: 0;
}

.input-num {
  width: 150px;
}

.dialog-tight {
  .el-dialog__body {
    padding: 10px 25px;
  }
}

.select-list {
  margin: 5px 0;
  padding: 0;
  border: 1px solid @color-light-gray;
  overflow: auto;

  .select-list-item {
    font-size: 14px;
    padding: 8px 20px;
    height: 24px;
    cursor: pointer;
    list-style-type: none;
    color: @color-dark-gray;
    border-bottom: 1px solid @color-light-gray;

    &:hover {
      background-color: @hover-background-color;
    }
  }
  .current-item {
    color: @color-purple;
    background-color: @select-background-color;
  }
}

.table-header-btn {
  padding: 4px;
  vertical-align: middle;
}

.el-table__row {
  .cell-tight {
    padding: 5px;
  }
}

.el-table .select-row {
  background-color: #ecf5ff !important;
}
.el-table .edited-row {
  //background-color: #e7ffeb !important;
  .el-input__inner,
  .el-textarea__inner {
    border: 1px solid green;
    background-color: #e7ffeb;
  }
}
.el-table .edited-warn {
  .el-input__inner,
  .el-textarea__inner {
    border: 1px solid #E02020;
    background-color: @background-color-danger;
  }
}

.input-center {
  .el-input__inner {
    text-align: center;
  }
}

.noedge-popper {
  padding: 0;
}

.pay {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  padding-left: 40px;
}
.el-radio {
  margin: 5px 30px 5px 0;
}
.paybtn {
  width: 150px;
  margin: 0px auto auto 10px;
}

.dropdown-simple {
  .el-dropdown-menu__item {
    cursor: default;
    &:hover {
      color: #606266;
      background: white;
    }
  }
}

.button-wrapper {
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
  border: none;
}

.nodim.is-disabled {
  color: #606266 !important;
}

div.block-content {
  > div.el-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }
  > div.el-row.block-last {
    border-bottom-width: 0;
  }
}

.explain {
  color: #c0c4cc;
  font-size: 14px;
  font-weight: 500;
}

.score {
  font-size: 12px;
  display: inline;
  float: right;
}
.good-score {
  color: #1c9beb;
}
.bad-score {
  color: #fe7a24;
}

.product-dialog {
  .el-dialog {
    min-width: 950px;
  }
}

.full-screen {
  min-width: @full-screen-width;
}


