
/deep/ .th-with-input {
  padding: 6px 0;
  .cell {
    height: 64px;
    padding: 0;
  }
  .setting-content {
    text-align: center;
    line-height: 20px;
  }
}

/deep/ .td-with-medium-input {
  padding: 2px 0;
}

.th-title-with-icon {
  display: flex;
  height: 25px;
  justify-content: center;

  .th-title {
    font-size: 18px;
    padding-left: 24px;
    padding-right: 0;
    line-height: 25px;
  }

  .th-icon {
    display: flex;
    width: 24px;
    align-items: center;
    padding: 0 3px;

    span {
      display: inline-block;
      height: 25px;
      line-height: 28px;
      font-size: 18px;
    }
  }
}
